.footer {
    background-color: #1E1E1E;
    padding: 0rem 0rem 0rem 0rem;
}

.footer>.container {
    background-color: #1E1E1E;
    padding: 50px 0rem 100px 0;
}

.footerb {
    width: 100%;
    background-color: #282829;
}

.footerbcontainer {
    min-height: 70px;
}

.fleft {
    width: 30%;
}

.fleft .vip p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #D9D9D9;
    margin-bottom: 20px;
}

.socialdiv h3 {
    font-size: var(--h3-Heading);
    /* font-size:20px ; */
    font-weight: 500;
    color: #ffff;
    margin: 0 !important;
}

.links p {
    color: #D9D9D9;
}

.socialIcone svg {
    margin-top: 10px;
    padding: .7rem;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: var(--decorate-color);
    background-color: #BACC4A1A;
}
.hadd{
    font-size: 20px !important;
}

.fright {
    gap: 8rem;
    width: 70%;
}

.fright h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: var(--p1large-Paragraph);
    font-weight: 500;
}

@media screen and (max-width:428px) {
    .footer>.container {
        flex-direction: column;
        gap: 2rem;
    }

    .fleft {
        width: 100%;
    }

    .fright {
        width: 100%;
        gap: 1rem;
        flex-direction: column;
    }

}