.mainbtn {
    background-color: #BACC4A;
    color: var(--black-color);
    padding: 13px 20px 13px 20px;
    min-width: 150px !important;
    border-radius: 70px;
    height: 46px;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    white-space: nowrap;
}

.disabled {
    background: #e7f9735f !important;
}

.disabled:hover {
    background: #e7f9735f !important;
}

.mainbtn:hover {
    background: #E7F973;
}

.mainbtn p {
    font-size: var(--p2-Paragraph);
    /* font-size: var(--p1-Paragraph); */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.mainbtn a svg {
    font-size: 1rem;
}


/* mainbtnSec css */

.mainbtnSec {
    background-color: transparent;
    padding: 13px 20px 13px 20px;
    min-width: 150px !important;
    border-radius: 70px;
    height: 46px;
    cursor: pointer;
    border: 1px solid var(--decorate-color);
    color: var(--decorate-color);
    gap: 0.5rem;
    text-transform: capitalize;
    white-space: nowrap;
}

.mainbtnSec a svg {
    font-size: 1rem;
    color: var(--decorate-color);
}

.mainbtnSec p {
    font-size: var(--p2-Paragraph);
    color: var(--decorate-color);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}


/* BlackBtn css */

.BlackBtn {
    background-color: transparent;
    padding: 10px 37px;
    width: fit-content !important;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    text-transform: capitalize;
    white-space: nowrap;
    background: var(--black-color);
}

.BlackBtn a svg {
    font-size: 1.2rem;
}

.BlackBtn p {
    font-size: var(--p2-Paragraph);
    color: var(--text-color);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500
}


/* tagbutton */


.Categorybtns {
    white-space: nowrap;
    font-size: var(--p1-Paragraph);
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    padding: 0rem 37px;
    width: fit-content;
    border: 1px solid var(--light-gray-color);
    cursor: pointer;
    border-radius: 70px;
    background: #FFFFFF1A;
    height: 36px;
    padding: 0rem 20px;
    border: none;
}


.Categorybtns p {
    font-size: var(--p4-Paragraph);
    font-weight: 500;
    margin-bottom: 0rem;
}

.Categorybtns:hover {
    background: #FFFFFF4D !important;
}

.Active:hover {
    background: #E7F973 !important;
}



@media screen and (max-width: 786px) {

    .mainbtn {
        padding: 10px 10px;
    }

    .mainbtnSec {
        padding: 10px 10px;
    }

}

/* mobile devices */