.CuratedCards {
    position: relative;
    width: 100%;
    gap: 3rem;
    justify-content: flex-start !important;
}

.CuratedCards span {
    color: var(--text-color);
}

.CuratedCards .card {
    justify-content: flex-end;
    position: relative;
    height: 500px;
    max-width: 480px;
    border-radius: 20px;
    background-position: top !important;
    background-size: cover !important;
    cursor: pointer;
    overflow: hidden;
    border: none;
}
.CuratedCards .card::before {
    position: absolute;
    content: "";
    height: 100%;
    width:100%;
    background: linear-gradient(to bottom, transparent, var(--black-color));
    bottom: 0rem;
}

.CuratedCards .card .tag {
    min-width: 80px;
    min-height: 21px;
    padding: 2px 8px 2px 8px !important;
    border-radius: 45px;
    font-size: var(--p3-Paragraph);
    background-color: var(--decorate-color);
    color: black;
    margin-bottom: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.CuratedCards .card h3 {
    color: var(--text-color);
    font-size: var(--p1large-Paragraph);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

.CuratedCards .card p {
    color: var(--light-gray-color);
    font-size: var(--p3-Paragraph);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400 !important;
}

.CardContainer {
    overflow: hidden;
    transform: translateY(2rem);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;
    background: transparent;
    padding: 1rem 3rem;
}


.CuratedCards Button {
    transform: translateY(300%);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;
}

.CuratedCards .card:hover .CardContainer Button {
    transform: translateY(0rem);
}

.CuratedCards .card:hover .CardContainer {
    transform: translateY(0rem);
}

.SectionLablediv {
    padding: 0 2rem 0 0;
}

@media screen and (max-width: 768px) {


    .CuratedCards .card h3 {
        line-height: 1.8rem !important;
        margin-bottom: 1rem;
    }

    .CuratedCards .card p {
        line-height: 1.2rem !important;
    }

}

@media screen and (max-width: 428px) {

    .CuratedCards .card {
        padding: .5rem;
        height: 500px;
    }

    .CuratedCards .card h3 {
        line-height: 1.8rem !important;
        margin-bottom: 1rem;
    }

    .CuratedCards .card p {
        line-height: 1.2rem !important;
    }

    .SectionLablediv {
        justify-content: space-between !important;
        padding: 0;
        margin-bottom: 2rem;
        align-items: flex-start !important;
    }

    .SectionLablediv>* {
        margin-bottom: 0;
        width: 60%;
    }

    .SectionLablediv>span {
        justify-content: flex-end !important;
        width: 30%;
        margin-top: 1rem;
    }
}